@font-face {
    font-family: "Raleway, 700, Bold";
    font-style: normal;
    font-weight: 700;
    src: url("./Raleway-Bold.ttf");
}

@font-face {
    font-family: "Raleway, 600, SemiBold";
    font-style: normal;
    font-weight: 600;
    src: url("./Raleway-SemiBold.ttf");
}

@font-face {
    font-family: "Raleway, 500, Medium";
    font-style: normal;
    font-weight: 600;
    src: url("./Raleway-Medium.ttf");
}